<!-- Preloader -->
  <div id="preloader">
    <div id="status">&nbsp;</div>
  </div>

  <!--HEADER-->
  <div id="header"> 
    <div class="col-sm-12 col-lg-12">
      <div class="row">
        <!--LOGO--> 
        <div id="logo">
          <a class="scroll" href="#home" style="color: black">Karen Farzam</a>
          <!-- TO BE CHANGED LOGO <img src="img/logo.png" alt="" /> --> 
        </div>
        <!--//LOGO-->
        <!--MENU-->
        <ul id="menu">
          <li><a class="scroll" href="#home">Home</a></li>
          <li><a class="scroll" href="#about">About</a></li>
          <li><a class="scroll" href="#services">Services</a></li>
          <li><a class="scroll" href="#work">Work</a></li>
          <li><a class="scroll" href="#contact">Contact</a></li>
        </ul>
        <!--//MENU-->
        <!--RESPONSIVE TOGGLE-->
        <div id="nav-toggle">
          <i class="typcn typcn-th-menu"></i>
        </div>
        <!--//RESPONSIVE TOGGLE-->
      </div>
    </div>
  </div>
  <!--//HEADER-->
        
  <!--HOME SECTION STARTS-->
  <section id="home">
    <!--SLIDER STARTS-->
    <div id="home-slider">
      <ul class="slides">
        <!--SLIDE 1-->
        <li>
          <div class="text-center slider-text">
            <i class="typcn typcn-device-desktop"></i>
            <div class="intro-text"><span class="colour-title1">WEB DEVELOPER</span></div>
            <div class="intro-text-sub">Creating web site</div>
            <a href="http://www.celinegarnierphotography.com/" target="_blank">
              <span style="position: absolute; bottom: 0; left: 0; color: white; font-size: 120%">Photo by celinegarnierphotography.com</span>
            </a>
          </div>
          <img class="slider-bg" alt="slider" src="images/bigslider1.jpg" />
        </li>
        <!--SLIDE 2-->
        <li>
          <div class="text-center slider-text">
            <i class="typcn typcn-scissors-outline"></i>
            <div class="intro-text"><span class="colour-title1">Entrepreneur</span></div>
            <div class="intro-text-sub">Find your passion</div>
          </div>
          <img class="slider-bg" alt="slider" src="images/bigslider3.jpg" />
        </li>
        <!--SLIDE 3-->
        <li>
          <div class="text-center slider-text">
            <i class="typcn typcn-scissors-outline"></i>
            <div class="intro-text"><span class="colour-title1">SIMPLE IS BEAUTIFUL</span></div>
            <div class="intro-text-sub">Love what you do</div>
          </div>
          <img class="slider-bg" alt="slider" src="images/bigslider2.jpg" />
        </li>
      </ul>
    </div>
    <!--//SLIDER ENDS-->
  </section>
  <!--//HOME SECTION ENDS-->
        
  <!--ABOUT SECTION STARTS--> 
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="pad30"></div>
          <h1>Entrepreneur</h1>
          <div class="pad15"></div>
          <!-- <div class="hr"></div> -->
          <br>
          <h1>Web Developer</h1>
          <!-- <div class="lead"> -->
            <p>
              Ruby on Rails - Go - JavaScript - CoffeeScript - AngularJS - MySQL - PostgreSQL - Mongoid
            </p>
          <!-- </div> -->
        </div>

        <div class="col-sm-12 col-md-12 col-lg-6">
          <p style="font-size: 130%">
            CoFounded <span class="colour"><strong><a href="http://whub.hk/" target="_blank">W Hub Limited</a></strong></span> out of passion and building a platform to empower everybody to dive into the startup ecosystem.
            Everyone should get a job they actually care about. 
          </p>    
        </div>
        
        <div class="col-sm-12 col-lg-6">
          <p style="font-size: 130%">
            Currently working in a 3D printer startup, <a href="http://makibox.com/" target="_blank">Makible</a> as a software engineer. Challenging, fun and motivating!
          </p>
        </div>

        <div class="col-sm-12 col-lg-6">
          <p style="font-size: 130%">
            Co-organizing <a href="http://www.womenwhocodehk.com" target="_blank">Women Who Code HK</a>. Designed the website.
          </p>
        </div>
      </div>
            
      <div class="col-sm-12 col-lg-12">
        <div class="row">
          <div class="pad25"></div>
          <!--BUTTONS-->  
          <a href="#contact" class="scroll btn marg-right10 fadein"><i class="typcn typcn-pencil"></i>CONTACT</a>
          <a href="#work" class="scroll btn fadein"><i class="typcn typcn-image"></i>PORTFOLIO</a>
        </div>  
      </div>
      <ul class="social-icons">
      <li><a href="https://www.facebook.com/karen.farzam"><i class="typcn typcn-social-facebook-circular"></i></a></li>
      <li><a href="https://twitter.com/chleozam"><i class="typcn typcn-social-twitter-circular"></i></a> </li>
      <li><a href="https://github.com/KarenZam"><i class="typcn typcn-social-github-circular"></i></a> </li>
    </ul>
    </div>
                
    
    <div class="pad90"></div>
        
    <!--MILESTONES-->

    <div class="well">
      <div class="container">
        <h1 class="flip">milestones</h1>
        <div class="pad45"></div>
        <!--COUNTERS-->
        <!--1-->
        <div class="col-sm-4 col-lg-4 text-center">
          <div class="counter bounceindown">
            <div id="counter-1"></div>
            <p class="light">Hours hacking</p>
          </div>  
        </div>
        <!--2-->
        <div class="col-sm-4 col-lg-4 text-center">
          <div class="counter bounceindown">
            <div id="counter-2"></div>
            <p class="light">Days Around The World</p>
          </div>
        </div>
        <!--3-->    
        <div class="col-sm-4 col-lg-4 text-center ">
          <div class="counter bounceindown">
            <div id="counter-3"></div>
            <p class="light">Opportunities in one day</p>
          </div>
        </div>
      </div>
    </div>
    <!--//MILESTONES-->
  </section>
  <!--//ABOUT SECTION ENDS--> 
    
    <!--SERVICES SECTION STARTS-->  
  <section id="services">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-lg-12">
          <div class="pad90"></div>
          <h1>What I do</h1>
          <div class="lead">Bring projects to life.</div>
                
          <!--SERVICE 1-->    
          <div class="col-sm-4 col-lg-4 text-center">
            <div class="service bouncein">
              <i class="typcn typcn-device-laptop"></i>
            </div>
            <h5>Engineer - Web Developer</h5>
            <p>Ruby on Rails - GO - JavaScript - AngularJS</p>
            <p>jQuery - CoffeeScript - AJAX - HTMLl5 - CSS3</p>
            <p>Mongoid - MySQL - PostgreSQL</p>
          </div>
                
          <!--SERVICE 2-->
          <div class="col-sm-4 col-lg-4 text-center">
            <div class="service bouncein">
              <i class="typcn typcn-lightbulb"></i>
            </div>
            <h5>Quote</h5>
            <p>"Every child is an artist"</p>
            <p>"Don't believe everything you read on the internet because there's a picture with a quote next to it"</p>
            <p>"Stars can't shine without darkness"</p>
          </div>
                
          <!--SERVICE 3-->
          <div class="col-sm-4 col-lg-4 text-center">
            <div class="service bouncein">
              <i class="typcn typcn-globe"></i>
            </div>
            <h5>Paris - Hong Kong - Tokyo - Montreal</h5>
            <p>Because there is always Paris...</p>
            <p>Love Asia and particulary Hong Kong right now</p>
            <p>Enjoyed the cold Montreal city for a while</p>
          </div>
        </div>
      </div>
    </div>   

    <!--WORK 1 - CAROUSELS SECTION STARTS-->    
  <section id="work">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-lg-12">
          <div class="pad90"></div>
                
          <h1>Work</h1>
          <div class="lead">Have fun and enjoy</div>
          <div class="row">
            
            <!-- PROJECT 1-->
              <a href="http://whub.hk/" target="_blank">
                <div class="col-sm-6 col-md-6 col-lg-6 fadeinleftbig">
                  <div class="item text-center active">
                    <img src="images/work/whub-logo.png" class="center border" alt="" style="width:100%; padding: 65px; background-color: white">
                  </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 fadeinleftbig">
                  <div class="item text-center active" style="padding-top: 20px">
                    <h6>W Hub</h6>  
                    <h6>Co-Founder</h6>
                    <p>
                      Uniting startups and talent
                      -
                      Where YOU meet startups
                      <br>
                      Find a job in a startup or cofound one
                      Startups, <br>come and share your passion
                    </p> 
                  </div>
                </div>
              </a>

            </div>
            <br>
            <div class="hr"></div>

            <!-- PROJECT 2-->
            <div class="row">
              <a href="https://store.makibox.com/" target="_blank">
                <div class="col-sm-6 col-md-6 col-lg-6 fadeinleftbig">
                  <div class="item text-center active">
                    <img src="images/work/makible.jpg" class="center border" alt="" style="width:100%;">
                  </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 fadeinleftbig">
                  <div class="item text-center active" style="padding-top: 20px">
                    <h6>Makible</h6>  
                    <h6>Software engineer</h6>
                    <p>
                      3D printers 
                      <br>
                      Developing their software in GO, JavaScript, JQuery
                    </p> 
                  </div>
                </div>
              </a>

            </div>
            <br>
            <div class="hr"></div>
                
            <!-- PROJECT3-->

            <div class="row">

              <a href="http://tic2tac.herokuapp.com/" target="_blank">
                <div class="col-sm-6 col-md-6 col-lg-6 fadeinleftbig">
                  <div class="item text-center active">
                    <img src="images/work/tictactoe.jpg" class="center border" alt="">
                  </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 fadeinleftbig">
                  <div class="item text-center active" style="padding-top: 50px">
                    <h6>Tic Tac Toe</h6>  
                    <p>
                      On-line and 2 players game<br>
                      3 levels of difficulties<br>
                      3 way data-binding using Angular.JS and Firebase
                    </p> 
                  </div>
                </div>
              </a>

            </div>
            <br>
            <div class="hr"></div>

            <!-- PROJECT4-->

           <!--  <div class="row">

              <a href="http://stark-anchorage-2987.herokuapp.com/" target="_blank">
                <div class="col-sm-6 col-md-6 col-lg-6 fadeinleftbig">
                  <div class="item text-center active">
                    <img src="images/work/myRobots.jpg" class="center border" alt="" >
                  </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 fadeinleftbig">
                  <div class="item text-center active" style="padding-top: 50px">
                    <h6>Dancing Robots</h6>  
                    <p>
                      JQuery - CSS3 - HTML5<br>
                      Just for fun for the kids
                    </p> 
                  </div>
                </div>
              </a>

            </div>

            <br>
            <div class="hr"></div> -->

            <!-- PROJECT5 -->

            <div class="row">

              <a href="http://www.womenwhocodehk.com" target="_blank">
                <div class="col-sm-6 col-md-6 col-lg-6 fadeinleftbig">
                  <div class="item text-center active">
                    <img src="images/work/woco.png" class="center border" alt="" >
                  </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 fadeinleftbig">
                  <div class="item text-center active" style="padding-top: 50px">
                    <h6>Women Who Code - HK</h6>  
                    <h6>Co-organizer - created the web site</h6>
                    <p>
                      Women who code HK is a chapter of the international organization women who code.<br>
                      We organized monthly event to hack, learn and share.<br>
                      Current and aspiring coders are welcome.<br>
                      We want to create a community to let all women know that there is a place for them in this industry.
                    </p> 
                  </div>
                </div>
              </a>

            </div>
                 
        <div class="pad45"></div>

      </div>
    </div>
  </div>   
      
        <div class="body-bc">
          <div class="hero-unit-bc">
            <div class="hit">
              <img class="front-bc to-be-moved" src="/images/front.png"/>
              <img class="back-bc" src="/images/back.png"/>
            </div>
          </div>
        </div>
        
            
    <!--WE LIKE TICKER-->
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-lg-12">
          <h1 class="like fadeinrightbig">I like<br> <span class="ticker"></span></h1>
        </div>
      </div>
    </div>
    <!--//WE LIKE TICKER-->
            
    <!--QUOTES/TESTIMONIALS SECTION-->
    <!-- PARALLAX -->
    <div class="well">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-lg-10 col-lg-offset-1">
                    
            <!-- TESTIMONIALS-->
            <div id="carousel" class="carousel2 slide center ">
              <div class="carousel-inner ">
              <!-- 1 -->
              <div class="item active center">
                <div class="quote">
                  <i class="typcn typcn-anchor-outline"></i>
                  <p>Everything has beauty</p>
                </div>
                <div class="quote-small">
                - Confucious -
                <!-- <br/> -->
                  <!-- <a href="#">UBL Designs</a> -->
                </div>
              </div>
            
              <!-- 2 -->
              <div class="item">
                <div class="quote">
                  <i class="typcn typcn-headphones"></i>
                  <p>Let us drink and let us dance;</p>
                  <p>these two amusements will never do any harm to the world</p>
                </div>
                <div class="quote-small">
                  - Voltaire -<br/>
                  <!-- <a href="#">Altiva</a> -->
                </div>
              </div>
        
              <!-- 3 -->
              <div class="item">
                <div class="quote">
                  <i class="typcn typcn-waves-outline"></i>       
                  <p>Too much of anything is bad</p>
                  <p>But too much of champagne is just right.</p>
                </div>
                <div class="quote-small">
                  - Mark Twain -<br/>
                  <!-- <a href="#">Spiral Pixel</a> -->
                </div>
                <div class="col-sm-1 col-lg-1"></div>   
              </div>
            </div>
          </div>
          <!--//END CAROUSEL-->
        </div>
      </div>
    </div>
  </div>
  </section>
  <!--//SERVICES SECTION ENDS-->  
  
  <div class="pad90"></div>
<!--WORK 2 - PORTFOLIO GALLERY SECTION STARTS-->
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-12 pad60">
        <!--PORTFOLIO GRID STARTS-->
        <div id="grid">
          <!-- 1-->
          <div class="box" data-category="Escape">
            <div data-thumbnail="images/gallery/Escape/thumbnails/escape1.jpg"></div>
            <div data-image="images/gallery/Escape/escape1.jpg"></div>
            <div class="thumbnail-caption"><h3>Sky is the limit</h3></div>
            <div class="lightbox-text">Sky is the limit <span>In Escape</span></div>
          </div>
          <!-- 2-->
          <div class="box" data-category="Fun">
            <div data-thumbnail="images/gallery/Fun/thumbnails/fun1.jpg"></div>
            <div data-image="images/gallery/Fun/fun1.jpg"></div>
            <div class="thumbnail-caption"><h3>Skate</h3></div>
            <div class="lightbox-text">Skate <span>In Fun</span></div>
          </div>
          <!-- 3-->
          <div class="box" data-category="Zam">
            <div data-thumbnail="images/gallery/Zam/thumbnails/zam1.jpg"></div>
            <div data-image="images/gallery/Zam/zam1.jpg"></div>
            <div class="thumbnail-caption"><h3>Hacking</h3></div>
            <div class="lightbox-text">Hacking <span>In Zam</span></div>
          </div>
          <!-- 4-->
          <div class="box" data-category="Escape">
            <div data-thumbnail="images/gallery/Escape/thumbnails/escape2.jpg"></div>
            <div data-image="images/gallery/Escape/escape.jpg"></div>
            <div class="thumbnail-caption"><h3>Reading</h3></div>
            <div class="lightbox-text">Reading <span>In Escape</span></div>
          </div>
          <!-- 5-->
          <div class="box" data-category="Zam">
            <div data-thumbnail="images/gallery/Zam/thumbnails/zam2.jpg"></div>
            <div data-image="images/gallery/Zam/zam2.jpg"></div>
            <div class="thumbnail-caption"><h3>Photography</h3></div>
            <div class="lightbox-text">Photogrpahy<span>In Zam</span></div>
          </div>
          <!-- 6-->
          <div class="box" data-category="Escape">
            <div data-thumbnail="images/gallery/Escape/thumbnails/escape3.jpg"></div>
            <div data-image="images/gallery/Escape/escape3.jpg"></div>
            <div class="thumbnail-caption"><h3>Relax</h3></div>
            <div class="lightbox-text">Relax <span>In Escape</span></div>
          </div>
          <!-- 7-->
          <div class="box" data-category="Escape">
            <div data-thumbnail="images/gallery/Escape/thumbnails/escape4.jpg"></div>
            <div data-image="images/gallery/Escape/escape4.jpg"></div>
            <div class="thumbnail-caption"><h3>Country side</h3></div>
            <div class="lightbox-text">Country side <span>In Escape</span></div>
          </div>
          <!-- 8-->
          <div class="box" data-category="Zam">
            <div data-thumbnail="images/gallery/Zam/thumbnails/zam3.jpg" ></div>
            <div data-image="images/gallery/Zam/zam3.jpg"></div>
            <div class="thumbnail-caption"><h3>Glasses</h3></div>
            <div class="lightbox-text">Glasses <span>In Zam</span>
            </div>
          </div>
          <!-- 9-->
          <div class="box" data-category="Zam">
            <div data-thumbnail="images/gallery/Zam/thumbnails/zam4.jpg"></div>
            <div data-image="images/gallery/Zam/zam4.jpg"></div>
            <div class="thumbnail-caption"><h3>White</h3></div>
            <div class="lightbox-text">White <span>In Zam</span></div>
          </div>
          <!-- 10-->
          <div class="box" data-category="Fun">
            <div data-thumbnail="images/gallery/Fun/thumbnails/fun4.png"></div>
            <div data-image="images/gallery/Fun/fun4.jpg"></div>
            <div class="thumbnail-caption"><h3>Bubble gum</h3></div>
            <div class="lightbox-text">Bubble gum in <span>Fun</span></div>
          </div>
          <!-- 11-->
          <div class="box" data-category="Escape">
            <div data-thumbnail="images/gallery/Escape/thumbnails/escape6.jpg"></div>
            <div data-image="images/gallery/Escape/escape6.jpg"></div>
            <div class="thumbnail-caption"><h3>Blurred</h3></div>
            <div class="lightbox-text">Blurred <span>In Escape</span></div>
          </div>
          <!-- 12-->
          <div class="box" data-category="Fun">
            <div data-thumbnail="images/gallery/Fun/thumbnails/fun2.jpg" ></div>
            <div data-image="images/gallery/Fun/fun2.jpg"></div>
            <div class="thumbnail-caption"><h3>Guitare</h3></div>
            <div class="lightbox-text">Guitare <span>In Fun</span></div>
          </div>
          <!-- 13-->
          <div class="box" data-category="Zam">
            <div data-thumbnail="images/gallery/Zam/thumbnails/zam5.jpg" ></div>
            <div data-image="images/gallery/Zam/zam5.jpg"></div>
            <div class="thumbnail-caption"><h3>Things</h3></div>
            <div class="lightbox-text">Things <span>In Zam</span></div>
          </div>
          <!-- 14-->
          <div class="box" data-category="Fun">
            <div data-thumbnail="images/gallery/Fun/thumbnails/fun3.jpg"></div>
            <div data-image="images/gallery/Fun/fun3.jpg"></div>
            <div class="thumbnail-caption"><h3> Station</h3></div>
            <div class="lightbox-text">Station <span>In Fun</span></div>
          </div>
          <!-- 15-->
          <div class="box" data-category="Zam">
            <div data-thumbnail="images/gallery/Zam/thumbnails/zam6.jpg"></div>
            <div data-image="images/gallery/Zam/zam6.jpg"></div>
            <div class="thumbnail-caption"><h3>Bricks</h3></div>
            <div class="lightbox-text">Bricks <span>In Zam</span></div>
          </div>
        </div>
        
        <!--//PORTFOLIO GRID ENDS-->
      </div>
    </div>
  </div>
</section>

<div class="pad90"></div>
<!--//WORK 2 - PORTFOLIO GALLERY SECTION ENDS-->
  
            
  <!--PARALLAX WORK QUOTE-->
  <div class="well">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-lg-10 col-lg-offset-1">
          <h2 class="fadeInUp text-center" style="color: white !important">
            "Don't believe everything you read on the internet because there's a picture with a <span class="colour">quote</span> next to it"
          </h2>           
        </div>
      </div>
    </div>
  </div>
  <!--//PARALLAX WORK QUOTE ENDS-->
</section>
<!--//WORK 1 - CAROUSELS SECTION ENDS-->

    
    
<div class="pad90"></div>
    
<!--//CONTACT SECTION STARTS-->
<section id="contact">
  <div class="container">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h1>Contact</h1>
    </div>
    <div class="lead">
      Sometimes magic is just someone spending more time on something than anyone else might reasonably expect.
    </div>
    <div class="fadeinleftbig">
      <h2 class="col-sm-12 col-md-12 col-lg-12">
        Do you need a website, you have a project you believe in?
        <br>have a question or comment?
      </h2> 
      
      <!-- <form accept-charset="UTF-8" action="<%= contact_url %>" id="ajax-contact-form" method="post"> -->
      <form accept-charset="UTF-8" id="ajax-contact-form">
        <fieldset class="col-sm-12 col-md-12 col-lg-12">
          <div class="contact error-message"></div>
          <div class="input-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label for="contact-email" class="sr-only">Email</label>
            <input type="email" id="contact-email" name="email" placeholder="Email..." class="form-control col-sm-12 col-md-12 col-lg-12" required>
          </div>
          <div class="input-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label for="contact-subject" class="sr-only">Subject</label>
            <input type="text" id="contact-subject" name="subject" placeholder="Subject..." class="form-control" required>
          </div>
          <div class="input-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label for="contact-body" class="sr-only">Message</label>
            <textarea id="contact-body" name="body" placeholder="Message..." class="form-control"></textarea>
          </div>
          <div class="input-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <input type="submit" name="commit" value="Send" class="btn">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          </div>
        </fieldset>
      </form>
      <div class="contact success-message"></div>
      
      <ul class="social-icons">
        <li><a href="https://www.facebook.com/karen.farzam"><i class="typcn typcn-social-facebook-circular"></i></a></li>
        <li><a href="https://twitter.com/chleozam"><i class="typcn typcn-social-twitter-circular"></i></a> </li>
        <li><a href="https://github.com/KarenZam"><i class="typcn typcn-social-github-circular"></i></a> </li>
      </ul>
    </div>

    <div class="pad25"></div>
  </div>
</section>
<!--//END CONTACT SECTION--> 
                  
<!--START FOOTER-->         
<footer>            
  <div class="center footer">
    <a href="#home" class=" scroll">
    <i class="typcn typcn-arrow-up-outline"></i></a>
    <br>
    <div id="copyright" class="bouncein">&copy; 2014 Chlea Ltd.
      <br>
      <h2>Zam</h2>
    </div>
  </div>
</footer>
                    <!--//END--> 
