<div class="large-12 columns end thelist">
	<h1>THE LIST ARTICLE <br> MAY 2014</h1>
	<h2>Women of Hope</h2>
	<h2>Celebrating Hong Kong's most inspiring women</h2>

	<div class="col-sm-12 col-md-6 col-lg-6 columns container">
		<img src="/images/press/201405-the-list-cover.jpg" class="left" alt="" style="height:200px; margin: 20px;" >
	</div>
	<div class="col-sm-12 col-md-6 col-lg-6 columns end container">
		<img src="/images/press/201405-the-list.jpg" class="left" alt="" style="height:200px; margin: 20px;" >
	</div>

	<h2><%= link_to "back", root_path %></h2>
</div>